<div  style="background-color:#8fd8e3;" class="container-fluid">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4">
    <a style="text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);" href="/" class="col-md-4 mb-0 text-primary text-decoration-none fw-bold">QuickQuill</a>

    <p class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto text-primary text-decoration-none fw-bold">
      Developer | Nikhil Nailwal
    </p>

    <ul style="font-weight: 600;" class="nav col-md-4 justify-content-end">
      <li class="nav-item"><a style="color: black;" href="/" class="nav-link px-2 ">Home</a></li>
      <li class="nav-item"><a style="color: black;" href="/about" class="nav-link px-2 ">About</a></li>
      <li class="nav-item"><a style="color: black;" href="#" class="nav-link px-2">Contact</a></li>
      
    </ul>
  </footer>
</div>
