<div class="container-fluid container-fluid-custom">
<h2>This is QuickQuill, an online note-taking app developed by Nikhil Nailwal.</h2>
<p>It utilizes a range of technologies, including React Router for routing and EJS (Embedded JS) for website layouts. Google Authenticator is employed for secure login and sign-up. Note data is persistently stored in MongoDB, and we offer CRUD operations for note management.</p>
<p> QuickQuill is a MERN stack project.</p>
<h2>Connect with me</h2>&nbsp;
<p>Mail: &nbsp; nailwalnikhil17@gmail.com</p>
<p>Github: &nbsp; nailwal08</p>

</div>